body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 14px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #7ca5d9;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

[class*="row__col_"] {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

[class*="row__col_xs"] {
  float: left; }

.row__col_xs_12 {
  width: 100%; }

.row__col_xs_11 {
  width: 91.66666667%; }

.row__col_xs_10 {
  width: 83.33333333%; }

.row__col_xs_9 {
  width: 75%; }

.row__col_xs_8 {
  width: 66.66666667%; }

.row__col_xs_7 {
  width: 58.33333333%; }

.row__col_xs_6 {
  width: 50%; }

.row__col_xs_5 {
  width: 41.66666667%; }

.row__col_xs_4 {
  width: 33.33333333%; }

.row__col_xs_3 {
  width: 25%; }

.row__col_xs_2 {
  width: 16.66666667%; }

.row__col_xs_1 {
  width: 8.33333333%; }

.row__col_xs_pull-12 {
  right: 100%; }

.row__col_xs_pull-11 {
  right: 91.66666667%; }

.row__col_xs_pull-10 {
  right: 83.33333333%; }

.row__col_xs_pull-9 {
  right: 75%; }

.row__col_xs_pull-8 {
  right: 66.66666667%; }

.row__col_xs_pull-7 {
  right: 58.33333333%; }

.row__col_xs_pull-6 {
  right: 50%; }

.row__col_xs_pull-5 {
  right: 41.66666667%; }

.row__col_xs_pull-4 {
  right: 33.33333333%; }

.row__col_xs_pull-3 {
  right: 25%; }

.row__col_xs_pull-2 {
  right: 16.66666667%; }

.row__col_xs_pull-1 {
  right: 8.33333333%; }

.row__col_xs_pull-0 {
  right: auto; }

.row__col_xs_push-12 {
  left: 100%; }

.row__col_xs_push-11 {
  left: 91.66666667%; }

.row__col_xs_push-10 {
  left: 83.33333333%; }

.row__col_xs_push-9 {
  left: 75%; }

.row__col_xs_push-8 {
  left: 66.66666667%; }

.row__col_xs_push-7 {
  left: 58.33333333%; }

.row__col_xs_push-6 {
  left: 50%; }

.row__col_xs_push-5 {
  left: 41.66666667%; }

.row__col_xs_push-4 {
  left: 33.33333333%; }

.row__col_xs_push-3 {
  left: 25%; }

.row__col_xs_push-2 {
  left: 16.66666667%; }

.row__col_xs_push-1 {
  left: 8.33333333%; }

.row__col_xs_push-0 {
  left: auto; }

.row__col_xs_offset-12 {
  margin-left: 100%; }

.row__col_xs_offset-11 {
  margin-left: 91.66666667%; }

.row__col_xs_offset-10 {
  margin-left: 83.33333333%; }

.row__col_xs_offset-9 {
  margin-left: 75%; }

.row__col_xs_offset-8 {
  margin-left: 66.66666667%; }

.row__col_xs_offset-7 {
  margin-left: 58.33333333%; }

.row__col_xs_offset-6 {
  margin-left: 50%; }

.row__col_xs_offset-5 {
  margin-left: 41.66666667%; }

.row__col_xs_offset-4 {
  margin-left: 33.33333333%; }

.row__col_xs_offset-3 {
  margin-left: 25%; }

.row__col_xs_offset-2 {
  margin-left: 16.66666667%; }

.row__col_xs_offset-1 {
  margin-left: 8.33333333%; }

.row__col_xs_offset-0 {
  margin-left: 0; }

@media (min-width: 768px) {
  [class*="row__col_sm"] {
    float: left; }

  .row__col_sm_12 {
    width: 100%; }

  .row__col_sm_11 {
    width: 91.66666667%; }

  .row__col_sm_10 {
    width: 83.33333333%; }

  .row__col_sm_9 {
    width: 75%; }

  .row__col_sm_8 {
    width: 66.66666667%; }

  .row__col_sm_7 {
    width: 58.33333333%; }

  .row__col_sm_6 {
    width: 50%; }

  .row__col_sm_5 {
    width: 41.66666667%; }

  .row__col_sm_4 {
    width: 33.33333333%; }

  .row__col_sm_3 {
    width: 25%; }

  .row__col_sm_2 {
    width: 16.66666667%; }

  .row__col_sm_1 {
    width: 8.33333333%; }

  .row__col_sm_pull-12 {
    right: 100%; }

  .row__col_sm_pull-11 {
    right: 91.66666667%; }

  .row__col_sm_pull-10 {
    right: 83.33333333%; }

  .row__col_sm_pull-9 {
    right: 75%; }

  .row__col_sm_pull-8 {
    right: 66.66666667%; }

  .row__col_sm_pull-7 {
    right: 58.33333333%; }

  .row__col_sm_pull-6 {
    right: 50%; }

  .row__col_sm_pull-5 {
    right: 41.66666667%; }

  .row__col_sm_pull-4 {
    right: 33.33333333%; }

  .row__col_sm_pull-3 {
    right: 25%; }

  .row__col_sm_pull-2 {
    right: 16.66666667%; }

  .row__col_sm_pull-1 {
    right: 8.33333333%; }

  .row__col_sm_pull-0 {
    right: auto; }

  .row__col_sm_push-12 {
    left: 100%; }

  .row__col_sm_push-11 {
    left: 91.66666667%; }

  .row__col_sm_push-10 {
    left: 83.33333333%; }

  .row__col_sm_push-9 {
    left: 75%; }

  .row__col_sm_push-8 {
    left: 66.66666667%; }

  .row__col_sm_push-7 {
    left: 58.33333333%; }

  .row__col_sm_push-6 {
    left: 50%; }

  .row__col_sm_push-5 {
    left: 41.66666667%; }

  .row__col_sm_push-4 {
    left: 33.33333333%; }

  .row__col_sm_push-3 {
    left: 25%; }

  .row__col_sm_push-2 {
    left: 16.66666667%; }

  .row__col_sm_push-1 {
    left: 8.33333333%; }

  .row__col_sm_push-0 {
    left: auto; }

  .row__col_sm_offset-12 {
    margin-left: 100%; }

  .row__col_sm_offset-11 {
    margin-left: 91.66666667%; }

  .row__col_sm_offset-10 {
    margin-left: 83.33333333%; }

  .row__col_sm_offset-9 {
    margin-left: 75%; }

  .row__col_sm_offset-8 {
    margin-left: 66.66666667%; }

  .row__col_sm_offset-7 {
    margin-left: 58.33333333%; }

  .row__col_sm_offset-6 {
    margin-left: 50%; }

  .row__col_sm_offset-5 {
    margin-left: 41.66666667%; }

  .row__col_sm_offset-4 {
    margin-left: 33.33333333%; }

  .row__col_sm_offset-3 {
    margin-left: 25%; }

  .row__col_sm_offset-2 {
    margin-left: 16.66666667%; }

  .row__col_sm_offset-1 {
    margin-left: 8.33333333%; }

  .row__col_sm_offset-0 {
    margin-left: 0; } }
@media (min-width: 992px) {
  [class*="col-md"] {
    float: left; }

  .row__col_md_12 {
    width: 100%; }

  .row__col_md_11 {
    width: 91.66666667%; }

  .row__col_md_10 {
    width: 83.33333333%; }

  .row__col_md_9 {
    width: 75%; }

  .row__col_md_8 {
    width: 66.66666667%; }

  .row__col_md_7 {
    width: 58.33333333%; }

  .row__col_md_6 {
    width: 50%; }

  .row__col_md_5 {
    width: 41.66666667%; }

  .row__col_md_4 {
    width: 33.33333333%; }

  .row__col_md_3 {
    width: 25%; }

  .row__col_md_2 {
    width: 16.66666667%; }

  .row__col_md_1 {
    width: 8.33333333%; }

  .row__col_md_pull-12 {
    right: 100%; }

  .row__col_md_pull-11 {
    right: 91.66666667%; }

  .row__col_md_pull-10 {
    right: 83.33333333%; }

  .row__col_md_pull-9 {
    right: 75%; }

  .row__col_md_pull-8 {
    right: 66.66666667%; }

  .row__col_md_pull-7 {
    right: 58.33333333%; }

  .row__col_md_pull-6 {
    right: 50%; }

  .row__col_md_pull-5 {
    right: 41.66666667%; }

  .row__col_md_pull-4 {
    right: 33.33333333%; }

  .row__col_md_pull-3 {
    right: 25%; }

  .row__col_md_pull-2 {
    right: 16.66666667%; }

  .row__col_md_pull-1 {
    right: 8.33333333%; }

  .row__col_md_pull-0 {
    right: auto; }

  .row__col_md_push-12 {
    left: 100%; }

  .row__col_md_push-11 {
    left: 91.66666667%; }

  .row__col_md_push-10 {
    left: 83.33333333%; }

  .row__col_md_push-9 {
    left: 75%; }

  .row__col_md_push-8 {
    left: 66.66666667%; }

  .row__col_md_push-7 {
    left: 58.33333333%; }

  .row__col_md_push-6 {
    left: 50%; }

  .row__col_md_push-5 {
    left: 41.66666667%; }

  .row__col_md_push-4 {
    left: 33.33333333%; }

  .row__col_md_push-3 {
    left: 25%; }

  .row__col_md_push-2 {
    left: 16.66666667%; }

  .row__col_md_push-1 {
    left: 8.33333333%; }

  .row__col_md_push-0 {
    left: auto; }

  .row__col_md_offset-12 {
    margin-left: 100%; }

  .row__col_md_offset-11 {
    margin-left: 91.66666667%; }

  .row__col_md_offset-10 {
    margin-left: 83.33333333%; }

  .row__col_md_offset-9 {
    margin-left: 75%; }

  .row__col_md_offset-8 {
    margin-left: 66.66666667%; }

  .row__col_md_offset-7 {
    margin-left: 58.33333333%; }

  .row__col_md_offset-6 {
    margin-left: 50%; }

  .row__col_md_offset-5 {
    margin-left: 41.66666667%; }

  .row__col_md_offset-4 {
    margin-left: 33.33333333%; }

  .row__col_md_offset-3 {
    margin-left: 25%; }

  .row__col_md_offset-2 {
    margin-left: 16.66666667%; }

  .row__col_md_offset-1 {
    margin-left: 8.33333333%; }

  .row__col_md_offset-0 {
    margin-left: 0; } }
@media (min-width: 1200px) {
  [class*="row__col_lg"] {
    float: left; }

  .row__col_lg_12 {
    width: 100%; }

  .row__col_lg_11 {
    width: 91.66666667%; }

  .row__col_lg_10 {
    width: 83.33333333%; }

  .row__col_lg_9 {
    width: 75%; }

  .row__col_lg_8 {
    width: 66.66666667%; }

  .row__col_lg_7 {
    width: 58.33333333%; }

  .row__col_lg_6 {
    width: 50%; }

  .row__col_lg_5 {
    width: 41.66666667%; }

  .row__col_lg_4 {
    width: 33.33333333%; }

  .row__col_lg_3 {
    width: 25%; }

  .row__col_lg_2 {
    width: 16.66666667%; }

  .row__col_lg_1 {
    width: 8.33333333%; }

  .row__col_lg_pull-12 {
    right: 100%; }

  .row__col_lg_pull-11 {
    right: 91.66666667%; }

  .row__col_lg_pull-10 {
    right: 83.33333333%; }

  .row__col_lg_pull-9 {
    right: 75%; }

  .row__col_lg_pull-8 {
    right: 66.66666667%; }

  .row__col_lg_pull-7 {
    right: 58.33333333%; }

  .row__col_lg_pull-6 {
    right: 50%; }

  .row__col_lg_pull-5 {
    right: 41.66666667%; }

  .row__col_lg_pull-4 {
    right: 33.33333333%; }

  .row__col_lg_pull-3 {
    right: 25%; }

  .row__col_lg_pull-2 {
    right: 16.66666667%; }

  .row__col_lg_pull-1 {
    right: 8.33333333%; }

  .row__col_lg_pull-0 {
    right: auto; }

  .row__col_lg_push-12 {
    left: 100%; }

  .row__col_lg_push-11 {
    left: 91.66666667%; }

  .row__col_lg_push-10 {
    left: 83.33333333%; }

  .row__col_lg_push-9 {
    left: 75%; }

  .row__col_lg_push-8 {
    left: 66.66666667%; }

  .row__col_lg_push-7 {
    left: 58.33333333%; }

  .row__col_lg_push-6 {
    left: 50%; }

  .row__col_lg_push-5 {
    left: 41.66666667%; }

  .row__col_lg_push-4 {
    left: 33.33333333%; }

  .row__col_lg_push-3 {
    left: 25%; }

  .row__col_lg_push-2 {
    left: 16.66666667%; }

  .row__col_lg_push-1 {
    left: 8.33333333%; }

  .row__col_lg_push-0 {
    left: auto; }

  .row__col_lg_offset-12 {
    margin-left: 100%; }

  .row__col_lg_offset-11 {
    margin-left: 91.66666667%; }

  .row__col_lg_offset-10 {
    margin-left: 83.33333333%; }

  .row__col_lg_offset-9 {
    margin-left: 75%; }

  .row__col_lg_offset-8 {
    margin-left: 66.66666667%; }

  .row__col_lg_offset-7 {
    margin-left: 58.33333333%; }

  .row__col_lg_offset-6 {
    margin-left: 50%; }

  .row__col_lg_offset-5 {
    margin-left: 41.66666667%; }

  .row__col_lg_offset-4 {
    margin-left: 33.33333333%; }

  .row__col_lg_offset-3 {
    margin-left: 25%; }

  .row__col_lg_offset-2 {
    margin-left: 16.66666667%; }

  .row__col_lg_offset-1 {
    margin-left: 8.33333333%; }

  .row__col_lg_offset-0 {
    margin-left: 0; } }
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  display: table;
  content: ' '; }

.wrapper:after,
.row:after {
  content: "";
  display: table;
  clear: both; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans Light.eot");
  src: url("../fonts/Open Sans Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Light.woff") format("woff"), url("../fonts/Open Sans Light.ttf") format("truetype"), url("../fonts/Open Sans Light.svg#Open Sans Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }
header {
  background: #7ca5d9;
  width: 100%;
  height: 60px;
  min-width: 320px; }

/* main styles */
[class*="row__col_"] {
  margin-bottom: 20px; }

img {
  display: block;
  max-width: 100%;
  background-size: cover;
  width: 100%;
  height: auto; }

.content {
  min-width: 320px; }

.wrapper {
  width: 100%;
  padding: 30px;
  position: relative; }

@media screen and (min-width: 992px) {
  [class*="row__col_"]:nth-child(4n + 5) {
    clear: both; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    width: 100%;
    padding: 30px 15px;
    position: relative; }

  [class*="row__col_"]:nth-child(3n + 4) {
    clear: both; }

  .row__col_right {
    float: none; }

  .row__col_center {
    top: 30px;
    position: absolute;
    margin-left: 33.333%; } }

/*# sourceMappingURL=main.css.map */
