// Main
$min-width: 320px; 
// $max-width: 1200px; 

// Colors
$base-bg: #fff;

$primary-color: #7ca5d9;
$secondary-color: #FFF;

// Typography
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 14px;

// Animations
$default-transition: all .3s;