// 2. CONTENT

/* main styles */
[class*="row__col_"] {
	margin-bottom: 20px;
}

img {
	display: block;
  max-width: 100%;
  background-size: cover;
  width: 100%;
  height: auto;
}

.content {	
	min-width: $min-width;
}

.wrapper {
	width: 100%;
	padding: 30px;
	position: relative;
}

// RESPONSIVE
@media screen and (max-width: 1200px) {

}

@media screen and (min-width: 992px){
	[class*="row__col_"]:nth-child(4n + 5) {
		clear: both;
	} 
}

@media screen and (max-width: 991px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.wrapper {
		width: 100%;
		padding: 30px 15px;
		position: relative;
	}
	[class*="row__col_"]:nth-child(3n + 4) {
		clear: both;
	}
	.row__col_right {
		float: none
	}
	.row__col_center {
		top: 30px;
	  position: absolute;
	  margin-left: 33.333%;
	}
}

@media screen and (max-width: 767px) {

}



