// 1. HEADER

header {
	background: $primary-color;
	width:100%; 
	height: 60px;
	min-width: $min-width;
}

// RESPONSIVE
@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}
